:root {
  --font: #001440;
  --background: #cfdddc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  margin: 3.5rem auto 1.5rem;
  /* padding: 2rem 1rem; */
  color: var(--font);
}

ul.tabNav {
  /* width: 60%; */
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39a2db;
  padding-left: 0px;
  list-style: none;
}

ul.tabNav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.tabNav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.tabNav li.active {
  background: #39a2db;
}

.recipesTab p,
.reviewsTab p {
  font-size: 2rem;
  text-align: center;
}
