:root {
  --font: #001440;
  --background: #cfdddc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tabs {
  font-family: 'Nixie One', sans-serif;
  height: auto;
  min-height: 400px;
  margin: 1rem auto 1.5rem;
  /* padding: 2rem 1rem; */
  color: var(--font);
}

ul.tabNav {
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0rem .5rem;
}

ul.tabNav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.tabNav li.active {
  background-color: var(--background);
}

.tabContent {
  font-size: .9rem;
  margin-left: 1rem;
}
