.upload button {
    background-color: rgb(153, 186, 246);
    border: none;
    padding: .25rem;
    cursor: pointer;
    color: var(--font);
    font-family: 'Nixie One', sans-serif;
    margin: .5rem 0rem;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cloudinary-button {
    color: pink;
  }
  

