:root {
    --font: #001440;
    --background: #cfdddc;
  }  

.image {
  height: 12rem;
}

.imageDetail {
  height: 17rem;
}

.list {
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    /* border: 1px blue solid; */
    cursor: pointer;
    height: 18rem;
    width: 10rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}

.bookTitle {
    font-family: 'Nixie One', sans-serif;
    font-size: 1rem;
    font-style: italic;
}

.author {
    font-family: 'Nixie One', sans-serif;
    font-size: .9rem;
}

a:link {
    text-decoration: none;
    color: var(--font);
  }
  
  a:visited {
    text-decoration: none;
    color: var(--font);
  }

.bookDetail {
    display: grid;
    grid: 1fr / 1fr .5fr;
    height: 18rem;
    margin: 1rem 1rem 0rem 1rem; 
}

.addButton {
  border: var(--font) .05rem solid;
  background-color: white;
  font-family: 'Nixie One', sans-serif;
  color: var(--font);
  padding: .2rem;
  width: 6.5rem;
  margin-top: .25rem;
  cursor: pointer;
  font-size: .7rem;
}