:root {
  --font: #001440;
  --background: #cfdddc;
}

.image {
  height: 12rem;
}

.imageDetail {
  height: 17rem;
}

.list {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.book {
  /* border: 1px blue solid; */
  cursor: pointer;
  height: 18rem;
  width: 10rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.bookTitle {
  font-family: 'Nixie One', sans-serif;
  font-size: 1rem;
  font-style: italic;
}

.author {
  font-family: 'Nixie One', sans-serif;
  font-size: 0.9rem;
}

a:link {
  text-decoration: none;
  color: var(--font);
}

a:visited {
  text-decoration: none;
  color: var(--font);
}

.bookDetail {
  display: grid;
  grid: 1fr / 1fr 0.5fr;
  height: 18rem;
  margin: 1rem 1rem 0rem 1rem;
}

.addButton {
  border: var(--font) 0.05rem solid;
  background-color: white;
  font-family: 'Nixie One', sans-serif;
  color: var(--font);
  padding: 0.2rem;
  width: 6.5rem;
  margin-top: 0.25rem;
  cursor: pointer;
  font-size: 0.7rem;
}

.mainShelf, .userShelf {
  font-family: 'Nixie One', sans-serif;
  padding: 0.25rem;
  float: right !important;
  padding-right: 1rem;
  font-size: 1.2rem;
}
