:root {
  --font: #001440;
  --background: #cfdddc;
}

.openMain {
    font-size: 2rem;
    cursor: pointer;
    padding-left: .5rem;
    border: none;
    background-color: white;
    color: var(--font);
  }
  
  .sidebar .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 1.5rem;
    margin-left: 50px;
    font-family: sans-serif;
    cursor: pointer;
    color: var(--font);
    padding-top: 1rem;
  }
  
  .sidebar {
    font-family: 'Nixie One', sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: var(--background);
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #001440;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: hotpink;
  }

  .sidebar button:hover {
    color: hotpink;
  }

  .authBtn {
    border: none;
    color: var(--font);
    background-color: var(--background);
    font-size: 25px;
    font-family: 'Nixie One', sans-serif;
    padding: 8px 8px 8px 32px;
    cursor: pointer;
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
  }

  .active {
    color: white !important;
    font-style: italic;
  }
  