:root {
  --font: #001440;
  --background: #cfdddc;
}

.addContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 1rem;
}

.addForm input {
  margin: 0.5rem 0rem;
  padding: 0.25rem;
  font-family: 'Nixie One', sans-serif;
  border: var(--font) 0.05rem solid;
}

.addForm button {
  background-color: rgb(153, 186, 246);
  border: none;
  padding: 0.25rem;
  cursor: pointer;
  color: var(--font);
  font-family: 'Nixie One', sans-serif;
}

.addBookHeader {
  /* background: linear-gradient(to left, #f7ebe6, #dae7f6, #fcfce7);; */
  font-family: 'Nixie One', sans-serif;
  padding: 0.25rem;
  float: right;
  padding-right: 1rem;
  font-size: 1.2rem;
}
